{% extends "base.html" %}

{% block title %} 
Add a new question
{% endblock %}

{% block body %}
<div class="col-md-8">
	<form class="form-horizontal" method="post">
		{% csrf_token %}
		    <div class="form-group">
		    	<label for="{{ form.title.id_for_label }}" class="col-md-1 control-label"><h4>Title</h4></label>
		    	<div class="col-md-10">
		    		{{ form.title }}
		    	</div>
		    </div>
		    <div class="form-group">
		    	<label for="{{ form.text.id_for_label }}" class="col-md-1 control-label"><h4>Text</h4></label>
		    	<div class="col-md-10">
		    		{{ form.text }}
		    	</div>
		    </div>
		    <div class="form-group">
		    	<label for="{{ form.tags.id_for_label }}" class="col-md-1 control-label"><h4>Tags</h4></label>
		    	<div class="col-md-10">
		    		{{ form.tags }}
		    	</div>
		    </div>
			<div class="col-md-10 col-md-offset-1">
				<span><a href="/" class="btn btn-default">Cancel</a></span>
				<span><input type="submit" class="btn btn-primary" value="Submit"></span>		
			</div>    
	</form>
	<!--<div class="col-md-10 col-md-offset-1">
		<span><a href="#" class="btn btn-default">Cancel</a></span>
		<span><a href="#" class="btn btn-primary">Submit</a></span>
	</div>-->
</div>
{% endblock %}

