{% extends "base.html" %}

{% block title %} 
Question
{% endblock %}

{% block column_header %} 
<div class="page-header">
	<div class="row">
		<div class="col-md-5" style="text-align: center;">
			<span class="header-name">
				<h1>Question</h1>
			</span>
		</div>
	</div>
</div>
{% endblock %}

{% block body %}
<div class="col-md-8">
	<div class="panel panel-primary">
		<div class="panel-body fixed-panel">
			<div class="row">
				<div class="col-md-3">
					<a href="#" class="thumbnail fixed-thumbnail">
						<img src="http://cs625826.vk.me/v625826805/4650b/MHjd3Pf2nYw.jpg">
					</a>
					<div><a href="#"><h4>{{ question.author.user.username }}</h4></a></div>
					<ul class="nav nav-tabs">
					    <a class="btn btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
					    <a class="btn btn-default">0</a>
					    <a class="btn btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="panel panel-primary fixed-question-panel">
						<div class="panel-heading">
							{{ question.header }}
						</div>
						<div class="panel-body">
							{{ question.value }}
							Time: {{ question.timestamp }}
						</div>
					</div>
					<span>
						<a href="#" class="btn btn-primary" type="button">
							Answers <span class="badge">{{ question.answers.all | length }}</span>
						</a>
						<span class="tag-list">
							<ul class="list-inline">
								<li>Tags:</li>
								{% for tag in question.tags.all %}
									<li><a href="#"> {{ tag.name }} </a></li>
								{% endfor %}
							</ul>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>

	<!-- Answers -->
	<div class="container">
		<h2>Answers:</h2>
	</div>

	{% for answer in question.answers.all %}
	<div class="panel panel-primary">
		<div class="panel-body fixed-panel">
			<div class="row">
				<div class="col-md-3">
					<a href="#" class="thumbnail fixed-thumbnail">
						<img src="http://cs625826.vk.me/v625826805/4650b/MHjd3Pf2nYw.jpg">
					</a>
					<div><a href="#"><h4>{{ answer.author.user.username }}</h4></a></div>
					<ul class="nav nav-tabs">
					    <a class="btn btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
					    <a class="btn btn-default">0</a>
					    <a class="btn btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="panel panel-primary fixed-question-panel">
						<div class="panel-body">
							{{ answer.value }}
						</div>
					</div>
					<div class="checkbox">
			        	<label>
			            	<input type="checkbox">Correct
			        	</label>
			        </div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

	<!--
	<div class="panel panel-primary">
		<div class="panel-body fixed-panel">
			<div class="row">
				<div class="col-md-3">
					<a href="#" class="thumbnail fixed-thumbnail">
						<img src="http://cs625826.vk.me/v625826805/4650b/MHjd3Pf2nYw.jpg">
					</a>
					<div><a href="#"><h4>Mr.Green</h4></a></div>
					<ul class="nav nav-tabs">
					    <a class="btn btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
					    <a class="btn btn-default">0</a>
					    <a class="btn btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="panel panel-primary fixed-question-panel">
						<div class="panel-body">
							In a far far away galaxy..
						</div>
					</div>
					<div class="checkbox">
			        	<label>
			            	<input type="checkbox">Correct
			        	</label>
			        </div>
				</div>
			</div>
		</div>
	</div>	

	<div class="panel panel-primary">
		<div class="panel-body fixed-panel">
			<div class="row">
				<div class="col-md-3">
					<a href="#" class="thumbnail fixed-thumbnail">
						<img src="http://cs625826.vk.me/v625826805/4650b/MHjd3Pf2nYw.jpg">
					</a>
					<div><a href="#"><h4>Mr.Red</h4></a></div>
					<ul class="nav nav-tabs">
					    <a class="btn btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
					    <a class="btn btn-default">0</a>
					    <a class="btn btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="panel panel-primary fixed-question-panel">
						<div class="panel-body">
							In a far far away galaxy..
						</div>
					</div>
			        <div class="checkbox">
			        	<label>
			            	<input type="checkbox">Correct
			        	</label>
			        </div>
				</div>
			</div>
		</div>
	</div>
	-->
</div>
{% endblock %}

{% block pagination %}
<!--Answer -->
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<hr>
			<div class="form-group">
		        <textarea class="form-control" rows="3" id="textArea fixed-answer-panel" placeholder="Type your answer here"></textarea>
		    </div>
		    <a href="#" class="btn btn-primary">Answer</a>
		</div>
	</div>
</div>
{% endblock %}

